<div class="card link-card quest-card">
    <%= link_to quest, class: 'link-target' do %>
        <div class="card-body">
            <%= quest.name %>
        </div>
    <% end %>
    <% if id && type %>
        <%= link_to Link.find_link([id, type],[quest.id, 'Quest']).first, method: :delete, data: { confirm: 'Are you sure?' }, class: 'link-unlink' do %>
            <i class="material-icons">link_off</i>
        <% end %>
    <% end %>
</div>
