<section class="index col-md-8 mx-auto">
  <div class="card">
    <div class="card-header">Quests</div>
    <div class="card-body">
      <%= search_form_for @q do |form| %>
        <div class='form-group'>
          <%= form.search_field :name_or_description_or_content_cont, class: 'form-control', placeholder: 'search' %>
        </div>
      <% end %>
      <hr>
      <div class="card-columns">
        <%= render 'shared/list', card_type: 'link', objects: @quests %>      
      </div>
    </div>
  </div>
</section>
