<div class="row">
    <div class="col-md-6 mx-auto">
        <section>
            <div class="card">
                <div class="card-header">New quest...</div>
                <div class="card-body">
                    <%= render 'form', quest: @quest %>
                </div>
            </div>
        </section>
    </div>
</div>
