<h1>Home</h1>
<div><%= link_to 'Campaigns', campaigns_path %></div>
<div><%= link_to 'Locations', locations_path %></div>
<div><%= link_to 'Quests', quests_path %></div>
<div><%= link_to 'Notes', notes_path %></div>
