<div class="card link-card note-card">
    <%= link_to note do %>
        <div class="card-body">
            <%= note.content %>
        </div>
    <% end %>
    <% if id && type %>
        <%= link_to Link.find_link([id, type],[note.id, 'Note']).first, method: :delete, data: { confirm: 'Are you sure?' }, class: 'link-unlink' do %>
            <i class="material-icons">link_off</i>
        <% end %>
    <% end %>
</div>
