<table>
  <strong>Notes</strong>
  <thead>
    <th>Note</th>
    <th>ID</th>
    <th colspan="1"></th>
  </thead>

  <tbody>
    <% notes.each do |note| %>
      <tr>
        <td><%= note.content %></td>
        <td><%= note.id %></td>
        <td><%= link_to 'Unlink', Link.find_link([id, type],[note.id, 'Note']).first, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
