<div class="modal fade" id="referredNewModal" tabindex="-1" role="dialog" aria-labelledby="referredNewModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <h3>Create and link...</h3>
            <hr>

            <% current_user.categories.order(name: :asc).each do |category| %>
              <%= link_to new_workspace_category_note_path(category.workspace, category, referrer_id: params[:id]) do %>
                <div class="card link-card card-motif-<%= category.color %>">
                  <div class="card-body"><%= category.name.singularize %><i class="material-icons">add</i></div>
                </div>
              <% end %>
            <% end %>
        </div>
    </div>
  </div>
</div>

