<div class="row">
    <div class="col-md-6 mx-auto">
        <section>
            <%= link_to :back, class: 'back-arrow-link' do %><i class="material-icons">arrow_back</i><% end %>
            <div class="card bg-card">
                <div class="card-header">Edit workspace</div>
                <div class="card-body">
                    <%= render 'form', workspace: @workspace %>
                </div>
            </div>
        </section>
    </div>
</div>
