<div class="row">
    <div class="col-md-6 mx-auto">
        <section>
            <div class="card bg-card">
                <div class="card-header">New workspace</div>
                <div class="card-body">
                    <%= render 'form', workspace: @workspace %>
                </div>
            </div>
        </section>
    </div>
</div>
