<footer>
    <div class='links'>
        <%= link_to 'Contact me', 'please don\'t' %> |
        <%= link_to 'GitHub', 'https://github.com/landrevj/dndnotes' %> |
        <%= link_to 'How to Markdown', 'https://guides.github.com/features/mastering-markdown/' %>
    </div>
</footer>
