<div class="modal fade" id="referredNewModal" tabindex="-1" role="dialog" aria-labelledby="referredNewModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <h3>Create and link...</h3>
            <hr>
            <div class="row">
                <div class="col">
                    <%= link_to new_campaign_path(referrer_id: referrer_id, referrer_type: referrer_type), class: 'new-bubble' do %>
                        <div class="card link-card campaign-card">
                            <div class="card-body">Campaign<i class="material-icons">add</i></div>
                        </div>
                    <% end %>
                </div>
                <div class="col">
                    <%= link_to new_location_path(referrer_id: referrer_id, referrer_type: referrer_type), class: 'new-bubble' do %>
                        <div class="card link-card location-card">
                            <div class="card-body">Location<i class="material-icons">add</i></div>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <%= link_to new_quest_path(referrer_id: referrer_id, referrer_type: referrer_type), class: 'new-bubble' do %>
                        <div class="card link-card quest-card">
                            <div class="card-body">Quest<i class="material-icons">add</i></div>
                        </div>
                    <% end %>
                </div>
                <div class="col">
                    <%= link_to new_note_path(referrer_id: referrer_id, referrer_type: referrer_type), class: 'new-bubble' do %>
                        <div class="card link-card note-card">
                            <div class="card-body">Note<i class="material-icons">add</i></div>
                        </div>
                    <% end %>
                </div>
            </div>

        </div>
    </div>
  </div>
</div>

