<% unless !local_assigns.has_key?(:locations) || locations.empty? %>
    <div class="card locations-related border-green">
        <div class="card-header">Locations</div>
        <div class="card-body">
            <%= render 'shared/list', objects: locations, renderer_id: renderer_id, renderer_type: renderer_type %>
        </div>
    </div>
  <% end %>
<% unless !local_assigns.has_key?(:quests) || quests.empty? %>
    <div class="card quests-related border-indigo">
        <div class="card-header">Quests</div>
        <div class="card-body">
            <%= render 'shared/list', objects: quests, renderer_id: renderer_id, renderer_type: renderer_type %>
        </div>
    </div>
<% end %>
