<p>
  <strong>Origin:</strong>
  <%= @link.origin %>
</p>

<p>
  <strong>Linkable:</strong>
  <%= @link.linkable %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
