/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

$colors: (
    blue:   #4084D6,
    indigo: #7B53DF,
    purple: #9F5ED1,
    pink:   #D66799,
    red:    #D05353,
    orange: #DC7C54,
    yellow: #E0E07E,
    green:  #87AF5F,
    teal:   #4CDCCF,
    cyan:   #4CB1DC,
    white:  #E8E8E8,
) !default;

$theme-colors: (
    primary: map-get($map: $colors, $key: blue),
    success: map-get($map: $colors, $key: green),
    info:    map-get($map: $colors, $key: cyan),
    warning: map-get($map: $colors, $key: yellow),
    danger:  map-get($map: $colors, $key: red),
) !default;

@import "bootstrap";
