// Place all the styles related to the Campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.campaign-card {
    background: $blue;
    
    &:hover {
        background: $blue;
        box-shadow: 0 0 0 0.2rem rgba($blue, .5);
        // background: darken($color: $blue, $amount: 7.5%)
    }
}
