$names: green yellow orange red pink purple indigo blue cyan teal gray;
$values: $green $yellow $orange $red $pink $purple $indigo $blue $cyan $teal #6c757d;
@for $i from 1 through length($names) {
    $n: nth($names, $i);
    $v: nth($values, $i);
    &.card-motif-#{$n} {
        border-color: $v;  
        .card-title { color: $v;}
        .card-actions a {
            color: $v;
            &:hover { color: darken($v, 15%); }
        }
        thead tr {
            background: $v;
        }
        tbody a {
            color: $v;
            &:hover { color: darken($v, 10%); }
        }
        .back-link { 
            color: $v;
            &:hover { color: darken($v, 15%); }
        }
        .save-btn { 
            background-color: $v;
            &:hover { background-color: darken($v, 7.5%); }
            &:focus { box-shadow: 0 0 0 0.2rem rgba($v, .5); }
        }

        &.link-card {
            background: $v;
            &:hover {
                background: darken($v, 3%);
                box-shadow: 0 0 0 0.2rem rgba($v, .5);
            }
        }

        .relation-tag { color: darken($v, 20%) }
    }
    .category-link-list.motif-#{$n} {
        .title-container a {
            color: $v;
            &:hover { color: darken($v, 15%); }
        }
        .linked-note-card {
            background: $v;
            &:hover {
                background: darken($v, 3%);
                box-shadow: 0 0 0 0.2rem rgba($v, .5);
            }

        }
        .linked-note-actions i {
            background: $v;
        }
    }
}

.full-card {
    border: none;
    .relation-tag { display: none; }
}

.relation-tag { float: right; }
