// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.note-main {
  .card-actions a { 
        color: $blue !important;
        &:hover { color: darken($blue, 15%) !important; }
    }
}

.note-card {
  &.full-card .card-body { padding: 1.25rem; }
  
  &:hover {
      background: $base01;
      box-shadow: 0 0 0 0.2rem rgba($base01, .5);
      // background: darken($color: $blue, $amount: 7.5%)
  }
  .link-unlink:hover { color: $red; }
}
