.page-layout {
    .card {
        margin-bottom: 1rem;
        .card-header {
            a {
                color: $font01;
                &:hover {
                    color: $font02;
                    text-decoration: none;
                }
            }
        }
    }

    .card-actions {
        position: absolute;
        right: 1rem;
        top: 0.8rem;
        a:hover {
            text-decoration: none;
        }
    }
}

.page-layout-edit {
    .card-actions {
        top: 0.6rem;
        a {
            position: relative;
            top: 0.1rem;
        }
        .btn { margin-left: 0.5rem; }
    }
}

.card-img-overlay {
    background: rgba(0,0,0,0.5);
}

.card .link-card { margin-bottom: 0.5rem; }

.link-card {
    border: 0;
    background: $base01;
    transition: background 0.1s ease-in-out, box-shadow 0.15s ease-in-out;


    .card-body {
        padding: 0.3rem 0.5rem;
    }

    a { color: $font01; }

    &:hover {
        background: $base02;
        a { text-decoration: none; }
    }
}

.full-card {
    background: $base01;
    a { color: $font01; }
    &:hover {
        background: $base02;
    }
    a:hover { text-decoration: none; }
}

.link-unlink {
    position: absolute;
    right: 0;
    margin: 5px;

    &:hover { color: $red; }
}
