.page-layout {
    .card {
        margin-bottom: 1rem;
        .card-header {
            .index-link, .title-link {
                color: $font01;
                &:hover {
                    color: $font02;
                    text-decoration: none;
                }
            }
        }
    }
}

.card-header {
    display: flex;
    flex-direction: row;

    .form-group { margin-bottom: 0; }
}

.flexbox-spacer { flex-grow: 1; }

.card-actions {
    height: 0;
    a:hover { text-decoration: none; }
    .delete-btn, .delete-btn:hover { color: $font01 !important; }
}

.card-actions-divider {
    display: inline-block;
    width: 1px;
    height: 24px;
    margin: 0 5px;
    background-color: $base01;
}

.page-layout-edit .note-main {
    // .card-actions { top: 0.55rem; }
    .back-link {
        position: relative;
        top: 0.1rem;
    }
    .btn { margin-left: 0.5rem; }
}

.card.link-card { margin-bottom: 0.5rem; }

.link-table {
    width: 100%;
    
    td, th { padding: 0.3rem 0.5rem; }
    th {
        a {
            color: $font01;
            &:hover {
                color: $font02;
                text-decoration: none;
            }
        }
    }
    tr {
        background: $base02;
        .name a:hover { text-decoration: none; }
        &:nth-child(even) { background: darken($base02, 5%); }
    }
    td.content, td.name {
        width: 75%;
    }
}

.link-card {
    border: 0;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;


    .card-body {
        padding: 0.3rem 0.5rem;
    }

    a { color: $font01; }

    &:hover a {text-decoration: none; }
}

.full-card {
    background: $base01;
    a { color: $font01; }
    &:hover {
        background: $base02;
    }
    a:hover { text-decoration: none; }
}

.link-actions {
    position: absolute;
    right: 0;
    margin: 5px;

    a:hover { color: $font02; }
}

.link-search-form {
    .link-current-target {
        .link-card { margin-bottom: 0; }
    }
    .input-group-text, input[type="submit"] { padding: 0.244rem 0.75rem; }
    .link-current-target .card-body {
        max-height: 34px;
        overflow: hidden;
        @include media-breakpoint-down(sm) {
            max-width: 242px;
        }
        max-width: 275px;
    }
}

#referredNewModal {
    .material-icons { float: right; }
    .link-card {
        color: $font01;
    }
    a:hover { text-decoration: none; }
}
