<div class="card bg-card category-index-card card-motif-<%= category.color %>">
    <div class="card-header">
        <%= link_to category.name.pluralize, category, class: 'title-link' %>
        <div class="card-actions">
            <%= link_to new_category_note_path(category) do %>
                <i class="material-icons">add</i>
            <% end %>
        </div>
    </div>
    <div class="card-body">
        <%= render 'shared/list', card_type: 'link', notes: notes, show_unlink: false %>
    </div>
</div>
