<div class="row">
    <div class="col-md-6 mx-auto">
        <section>
            <div class="card bg-card">
                <div class="card-header">Edit category</div>
                <div class="card-body">
                    <%= render 'form', workspace: @category.workspace, category: @category %>
                </div>
            </div>
        </section>
    </div>
</div>
